<section data-testid="todo-list" class="space-y-4 my-4">
  <h1>Tarefas Pendentes</h1>
  @for (task of pedingTasks(); track task.title) {
    <app-list-item
      [task]="task"
      data-testid="todo-list-item"
      (complete)="onCompleteTask($event)"
    ></app-list-item>
  } @empty {
    <app-no-items class="flex justify-center"></app-no-items>
  }
</section>

<section data-testid="Completed-list" class="space-y-4 my-4">
  <h1>Tarefas Concluídas</h1>
  @for (tasksCompleted of completedTasks(); track tasksCompleted.title) {
    <app-list-item
      [task]="tasksCompleted"
      data-testid="Completed-list-item"
    ></app-list-item>
  } @empty {
    <app-no-items class="flex justify-center"></app-no-items>
  }
</section>
